[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "caffe"]
	path = caffe
	url = https://github.com/lltcggie/caffe.git
	branch = support_windows
	ignore = dirty
