[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "msgpack-c"]
	path = msgpack-c
	url = https://github.com/msgpack/msgpack-c
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
